body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 400px;
    position: relative;
}

button {
    font-size: 16px; 
    background-color: black;
    color: white; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
}

.box1 {
    background-color: red;
    position: absolute;
    left: 0;
    z-index: 0;
    width: 50%;
    height: 50%;
}

.box2 {
    background-color: blue;
    position: absolute;
    left: 0;
    z-index: 5;
    width: 50%;
    height: 50%;
   
}
.move{
    transition: transform 0.6s ease, opacity 0.6s ease; 
    animation: show 0.6s forwards; 
}

@keyframes show {
    0%, 50% {
        opacity: 1; 
    }
    50%, 100% {
        opacity: 0; 
    }
}

.move {
    transform: translateX(100%);
}
